# Cloudinary Credentials
CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret

# MongoDB Connection String
ATLASDB_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/wanderlust?retryWrites=true&w=majority

# Express Session Secret
SECRET=your_session_secret_key_here
